@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.app-card {
  position: relative;
  background-color: var(--orange-web);
  padding: 30px;
  border-radius: var(--radius-2);
  text-align: center;
  overflow: hidden;
  z-index: 1;

  &::before,
  &::after {
    content: '';
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    z-index: -1;
  }

  &::before {
    width: 80px;
    height: 130px;
    background-image: var(--app-shape-1, url('/images/app-shape-1.png'));
    top: -50px;
    right: 20px;
  }

  &::after {
    width: 100px;
    height: 150px;
    background-image: var(--app-shape-2, url('/images/app-shape-2.png'));
    bottom: -50px;
    left: 20px;
  }
}

.app .section-subtitle {
  font-size: var(--fs-6);
}

.app .section-title {
  color: var(--white);
  margin-block-end: 40px;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.app-link {
  background-color: var(--white);
  min-height: 50px;
  padding-inline: 20px;
  border-radius: var(--radius-10);
  display: grid;
  place-content: center;
  outline: 4px solid var(--white_15);
}

// Mobile and up (575px+)
@include mobile-up {
  .app-card {
    padding: 50px;

    &::before {
      width: 150px;
      height: 250px;
    }

    &::after {
      width: 190px;
      height: 290px;
      bottom: -70px;
    }
  }
}

// Tablet and up
@include tablet-up {
  .app-card {
    padding: 100px 50px;
  }
}

// Laptop and up
@include laptop-up {
  .app .section-title {
    margin-block-end: 55px;
  }

  .app-link {
    width: 180px;
    height: 65px;
  }
}
