@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.blog {
  background-color: var(--cultured);
}

.blog-card {
  background-color: var(--white);
  min-height: 420px;
  padding: 20px;
  display: grid;
  align-content: center;
  transition: var(--transition-2);

  &:is(:hover, :focus-within) {
    --hover-color: var(--white);
    background-color: var(--blue-green-color-wheel);
    color: var(--white);

    .publish-date {
      color: var(--blue-green-color-wheel);
    }

    .card-link {
      color: var(--orange-web);
    }

    .card-meta-item:not(:last-child)::after {
      background-color: var(--hover-color, var(--black-chocolate));
      transition: var(--transition-2);
    }
  }
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.publish-date {
  background-color: var(--hover-color, var(--blue-green-color-wheel));
  color: var(--white);
  font-size: var(--fs-7);
  font-weight: var(--fw-500);
  line-height: 1;
  text-align: center;
  width: 65px;
  height: 65px;
  display: grid;
  place-content: center;
  border-radius: var(--radius-2);
  transition: var(--transition-2);

  .span {
    color: var(--orange-web);
    font-size: var(--fs-3);
    font-weight: var(--fw-700);
    line-height: 1;
    margin-block-end: 5px;
  }
}

.card-link {
  font-weight: var(--fw-700);
  margin-block-end: 10px;
}

.card-title {
  color: var(--hover-color);
  margin-block: 30px 15px;
  transition: var(--transition-2);
}

.card-text {
  font-size: var(--fs-5);
}

// Mobile and up (575px+)
@include mobile-up {
  .blog-card .h3 {
    --fs-4: 2.4rem;
  }
}

// Tablet and up
@include tablet-up {
  .blog-card {
    padding: 45px;
  }
}

// Laptop and up
@include laptop-up {
  .blog-card {
    padding: 30px;
  }
}

// Desktop and up
@include desktop-up {
  .blog-card {
    padding: 45px;

    .publish-date {
      width: 80px;
      height: 80px;
    }
  }
}
