@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--white);
  padding-block: 15px;
  z-index: 4;
  transition: var(--transition-1);

  &.active {
    box-shadow: var(--shadow-2);
  }

  > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
  }

  .btn {
    margin-inline-start: auto;
  }
}

.logo {
  color: var(--black-chocolate);
  font-size: 30px;
  line-height: 1;
  font-weight: var(--fw-700);

  .span {
    display: inline-block;
    color: var(--orange-web);
  }
}

.nav-toggle-btn {
  font-size: 40px;
  color: var(--black-chocolate);
}

.navbar {
  position: fixed;
  top: 0;
  left: -300px;
  max-width: 300px;
  width: 100%;
  height: 100%;
  background-color: var(--white);
  visibility: hidden;
  transition: 0.25s var(--cubic-in);
  z-index: 2;

  &.active {
    transform: translateX(100%);
    visibility: visible;
    transition: 0.5s var(--cubic-out);
  }

  .nav-toggle-btn {
    font-size: 35px;
    position: absolute;
    top: 25px;
    right: 20px;
  }

  &-list {
    margin-block-start: 110px;
    border-block-end: 1px solid var(--blue-green-color-wheel_10);
  }

  &-item {
    border-block-start: 1px solid var(--blue-green-color-wheel_10);
  }

  &-link {
    color: var(--black-chocolate);
    padding: 13px 20px;
    font-size: var(--fs-5);
    font-weight: var(--fw-600);
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: hsla(0, 0%, 0%, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: var(--transition-1);
  z-index: 1;

  &.active {
    opacity: 1;
    pointer-events: all;
  }
}

// Tablet and up
@include tablet-up {
  .logo {
    font-size: 35px;
  }
}

// Laptop and up
@include laptop-up {
  .nav-toggle-btn,
  .overlay {
    display: none;
  }

  .header {
    padding-block: 20px;

    .btn {
      margin-inline-start: 0;
    }
  }

  .navbar,
  .navbar.active,
  .navbar-list,
  .navbar-item {
    all: unset;
  }

  .navbar {
    margin-inline-start: auto;

    &-list {
      display: flex;
    }

    &-link {
      font-size: unset;
      padding-inline: 15px;
      transition: var(--transition-1);

      &:is(:hover, :focus) {
        color: var(--orange-web);
      }
    }
  }
}

// Desktop and up
@include desktop-up {
  .header .container {
    gap: 35px;
  }

  .navbar-link {
    padding-inline: 25px;
  }
}
