@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.footer-top {
  background-color: var(--blue-green-color-wheel);
  color: var(--white);

  .container {
    display: grid;
    gap: 50px;
  }

  .email-field {
    background-color: var(--white);
    color: var(--black-chocolate);
    padding: 11px 30px;
    border-radius: var(--radius-10);
    margin-block-end: 20px;

    &::placeholder {
      color: inherit;
    }
  }

  .btn-secondary {
    border-radius: var(--radius-10);

    &:is(:hover, :focus) {
      background-color: var(--white);
      color: var(--onyx);
    }
  }
}

.footer-list-title {
  color: var(--orange-web);
  font-family: var(--ff-playfair);
  font-size: var(--fs-4);
  font-weight: var(--fw-600);
  margin-block-end: 28px;
}

.footer-form {
  margin-block-start: 50px;
}

.footer-link,
.address {
  font-size: var(--fs-6);
  margin-block-start: 12px;
  transition: var(--transition-1);

  &:is(:hover, :focus) {
    color: var(--orange-web);
  }
}

.address-title {
  margin-block: 12px;
}

.footer-bottom {
  background-color: var(--msu-green);
  color: var(--white);
  font-size: var(--fs-5);
  text-align: center;
  padding-block: 25px;
}

.copyright {
  margin-block-end: 25px;

  :is(.copyright-link, svg) {
    display: inline-block;
    color: var(--orange-web);
  }
}

.footer-bottom-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 10px;
}

.footer-bottom-item{
  position: relative;
  display: flex;
  align-items: center;

  &:not(:last-child)::after {
    content: '-';
    margin-inline: 10px;
  }
}

.footer-bottom-link:is(:hover, :focus) {
  color: var(--orange-web);
}

// Mobile and up (575px+)
@include mobile-up {
  .footer-top .container {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
  }

  .footer-list:first-child {
    grid-column: 1 / 4;
  }
}

// Laptop and up
@include laptop-up {
  .footer-top .container {
    grid-template-columns: 1fr 0.6fr 0.6fr 0.65fr;
  }

  .footer-list:first-child {
    grid-column: auto;
  }

  .footer-list-title {
    --fs-4: 2.4rem;
  }

  .footer-link,
  .address {
    --fs-6: 1.5rem;
  }

  .footer-top .btn-secondary {
    padding-inline: 30px;
  }

  .footer-bottom .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .copyright {
    margin-block-end: 0;
  }
}

// Desktop and up
@include desktop-up {
  .footer-top .container {
    column-gap: 100px;
  }
}
